{% extends 'Temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<center><br><br>
<h1>MANAGE RATION PRODUCT</h1><br>
	<table border="1" class="table table-striped">
		<tr>
			<td>Card_type </td>
			<td>Card_color</td>
			<td>Product Name</td>
            <td>Quantity</td>
            <td>Price</td>
		</tr>
		{% for i in dd %}
		<tr>
			<td>{{ i.card_type }}</td>
			<td>{{ i.card_color}}</td>
            <td>{{ i.product_name}}</td>
            <td>{{ i.quantity}}</td>
            <td>{{ i.price}}</td>
			<td><a href="/Ration_product/update/{{i.rationproduct_id}}/#bb" class="btn btn-outline-dark">Update</a></td>
            <td><a href="{% url 'bb' i.rationproduct_id %}/#bb" class="btn btn-outline-dark">Delete</a></td>                
		</tr>
        {% endfor %}
	</table>
</center>

</body>
</html>
{% endblock %}