{% extends 'Temp/shopkeeper.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update or Delete Ration product</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <center>
        <table><br><br><br>
            <div class="col-lg-5">
                <div class="card-body rounded-bottom bg-dark p-5" id="all_registered">
                    <h1 style="font-family: 'Times New Roman';color: peru" align="center">Update</h1><br>
        
                    <!-- Joining Date Field -->
                    <div class="form-group">
                        <input type="text" name="sp" value="{{ dd.supplycoproduct_name }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="product_name" required="required" />
                    </div><br>
                    
                    <div class="form-group">
                        <input type="date" name="md" value="{{ dd.manufacture_date }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="manufacture_date" required="required" />
                    </div><br>

                    <div class="form-group">
                        <input type="date" name="ed" value="{{ dd.expiry_date }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="expiry_date" required="required" />
                    </div><br>

                    <div class="form-group">
                            <input type="text" name="qt" value="{{ dd.quantity }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="quantity" required="required" />
                    </div><br>
                    <div class="form-group">
                        <input type="text" name="acp" value="{{ dd.actual_price }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="actual_price" required="required" />
                </div><br> 
                <div class="form-group">
                    <input type="text" name="avp" value="{{ dd.available_price }}" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="available_price" required="required" />
            </div><br>                
                    <!-- Update Button -->
                    <div>
                        <button class="btn btn-primary btn-block p-3" style="font-family: 'Times New Roman'" type="submit">Update</button>
                    </div>
                </div>
            </div>
        </table>
    </center>
</form>
</body>
</html>
{% endblock %}