{% extends 'temp/register.html'%}
{% block base %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title></title>
</head>
<body><center>
	<form method="post">
        {% csrf_token %}
		<table><br><br><br>
            <div class="col-lg-5">
                <div class="card-body rounded-bottom bg-secondary p-5">
                    <img class="w-25" src="/static/img/tt.png" alt="Image">
                        <h1 style="font-family: 'Times New Roman';color: peru" align="center">RATIONSHOP REGISTER</h1><br>
 
                        <div class="form-group">
                            <label style="color:white">Shop ID</label>
                            <input type="text" name="shopid" class="form-control p-4" 
                                   style="font-family: 'Times New Roman';" placeholder="Shopkeeper ID" 
                                   required="required" pattern="\d{3,}" 
                                   title="Shop ID must contain only numbers and be at least 3 digits long." />
                            <span style="color: red;">{{ shopid_error }}</span>
                        </div>
                        
                    <div class="form-group">
                        <label style="color:white">Shop Name</label>
                        <input type="text" name="shopname" class="form-control p-4" style="font-family: 'Times New Roman'" placeholder="ShopName" required="required" pattern="[A-Za-z\s]+" 
                        title="Only alphabets and spaces are allowed." />
                        {% comment "" %}<textarea name="address" class="form-control p-4"style="font-family: 'Times New Roman'" placeholder="Enter Your address" required="required"  /></textarea>{% endcomment %}
{#                        <input type="text" name="address" class="form-control p-4"style="font-family: 'Times New Roman'" placeholder="Enter Your address" required="required"  />#}
                    </div>
                    {% comment "" %}<div class="form-group" style="color: white">
                        <input type="radio" name="gen" value="male" checked="" style=" font-family: 'Times New Roman';color: white" class="">Male
                        <input  type="radio"  name="gen" value="female" checked="" style="font-family: 'Times New Roman'">Female
                        <input type="radio" name="gen" value="other" checked="" style="font-family: 'Times New Roman'">Other
                    </div>{% endcomment %}
                    <div class="form-group">
                        <label style="color:white">Shopkeeper Name</label>
                        <input type="text" name="shopkeeper_name" class="form-control p-4"style="font-family: 'Times New Roman'" placeholder="Shopkeeper Name" required="required" pattern="[A-Za-z\s]+" 
                        title="Only alphabets and spaces are allowed."  />
                    </div>
                    <div class="form-group">
                        <label style="color:white">Address</label>
                        <textarea name="address" class="form-control p-4"style="font-family: 'Times New Roman'" placeholder="Enter Your address" required="required"  /></textarea>
                    </div>
                    <div class="form-group">
                        <label style="color:white">Email</label>
                        <input type="email" name="email" class="form-control p-4"style="font-family: 'Times New Roman'" placeholder="Enter Your E-mail" required="required" />
                        <span style="color: red;">{{ email_error }}</span>
                    </div>
                    <div class="form-group">
                        <label style="color:white">Municipality</label>
                        <input type="text" name="muncipality" class="form-control p-4" 
                               style="font-family: 'Times New Roman'" placeholder="Municipality" 
                               required="required" pattern="[A-Za-z\s]+" 
                               title="Only alphabets and spaces are allowed." 
                               value="Mukkom" readonly />  <!-- Read-only value -->
                    </div>                    
                    <br>
                    <div>
                        <button class="btn btn-primary btn-block p-3"style="font-family: 'Times New Roman'" type="submit">REGISTER</button>
                    </div>
                </div>
            </div>
        </table>
        {% if msg != '' %}
            <script>
                alert("Successfully registered..." )
            </script>
        {% endif %}
        {% comment %}{% if msg %}
        <div style="color: green;">{{ msg }}</div>
    {% endif %}{% endcomment %}
    </form>
    </center>
</body>
</html>
{% endblock %}